@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-sans: "Inter", "system-ui", "Avenir", "Helvetica", "Arial", "sans-serif";
}

@layer base {
  body {
    width: 400px;
    min-height: 450px;
    max-height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @apply bg-base-100 text-base-content;
  }
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
